.sign-in-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 200px 50px;
  margin: 0 auto;
}

.submit-button-row {
  align-self: end;
  padding: 8px 0;
}

.submit-button-row > * + * {
  margin-left: 10px;
}

.submit-button {
  padding: 0 50px;
}
