<div class="container h-100">
  <div *ngIf="(loading$ | async) === false; else elseTemplate">
    <div *ngIf="(profile$ | async) as profile">
      <div class="row mb-3">
        <div class="col">
          <button mat-raised-button class="submit-button">
            Редактировать
          </button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <mat-card class="card-avatar">
            <!-- <mat-card-header>
              <img mat-card-avatar [src]="profile.avatarData"/>
              <mat-card-title>{{profile.name}} {{profile.surname}}</mat-card-title>
              <mat-card-subtitle *ngIf="profile.roles != null && profile.roles.length > 0" >{{profile.roles[0].title}}</mat-card-subtitle>
            </mat-card-header> -->
            <img mat-card-image [src]="profile.avatarData" alt="Аватар">
          </mat-card>
        </div>
        <div class="col-8"></div>
      </div>
    </div>
  </div>

</div>
<ng-template #elseTemplate>
  <loader> </loader>
</ng-template>
