
.auth-container {
  max-width: 600px;
  padding-top: 160px;
  margin: 0 auto;
  @media (max-width: 640px) {
    padding-top: 64px;
  }
}

.auth-card {
  max-width: 600px;
  min-height: 400px;
  padding-top: 32px;
  margin: 0 auto;
}

.loading-card {
  max-width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
