@use 'sass:map';
@use '@angular/material' as mat;
.main-container {
  width: 100%;
}
.main-sidenav-container {
  min-height: 100vh;
  padding-top: 70px;
}
.main-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sidenav-list {
  padding-top: 70px;
  height: 100%;
  width: 100%;
}
.main-sidenav {
  width: 200px;
  user-select: none;
}

.link-text {
  font-size: 14px;
}

// .mat-nav-list a.active {
//   background: mat.get-color-from-palette($sb-accent, 'darker');
// }
