<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-nav" mode="side" opened="true">
    <mat-nav-list class="sidenav-list">
      <button
        *ngFor="let link of links"
        mat-raised-button
        [routerLink]="link.path"
        routerLinkActive="mat-accent"
        class="link-button"
      >
        <div class="d-flex align-items-center">
          <mat-icon class="ms-3" mat-list-icon>{{ link.icon }}</mat-icon>
          <div class="ms-3">{{ link.title }}</div>
        </div>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav-body">
    <mat-card class="sidenav-card">
      <mat-card-content class="sidenav-card-content">
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</mat-sidenav-container>
