
$topPadding: 68px;
@mixin fill {
  min-height: 100%;
}
.sidenav-container {
  @include fill;
  height: 100%;
  // margin-top: $topPadding;
}

.sidenav-nav {
  width: 200px;
  user-select: none;
  margin-top: $topPadding;
}

.sidenav-body {
  @include fill;
  height: 100%;
  padding-top: $topPadding;

}


.sidenav-card {
  @include fill;
}

.sidenav-card-content {
  @include fill;
}

.link-button {
  display: flex;
  font-size: 14px;
  padding: 5px 0;
  width: 100%;
  align-items: center;
}
