<div class="container h-100">
  <div *ngIf="(loading$ | async) === false; else loadingTemplate">
    <div *ngIf="team$ | async as team">
      <div class="row mb-3">
        <div class="col text-end">
          <!-- <button mat-raised-button class="submit-button" [routerLink]="['/private/team/edit']">Редактировать</button> -->
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <mat-card class="card-avatar">
            <img mat-card-image [src]="team.avatar" alt="Аватар" />
          </mat-card>
        </div>
        <div class="col-8">
          <mat-card class="main-info-card">
            <mat-card-header>
              <mat-card-title>{{ team.title }} </mat-card-title>
            </mat-card-header>
            <mat-divider class="mb-2"></mat-divider>
            <mat-card-content>
              <table class="mat-table w-100 my-3">
                <tr class="mat-row py-3">
                  <td class="mat-cell">Командир</td>
                  <td
                    *ngIf="
                      teamLeader$ | async as teamLeader;
                      else emptyTemplate
                    "
                    class="mat-cell"
                  >
                    {{ teamLeader.name }} {{ teamLeader.surname }}
                  </td>
                </tr>
                <tr class="mat-row py-3">
                  <td class="mat-cell">Город</td>
                  <td
                    *ngIf="team.city != null; else emptyTemplate"
                    class="mat-cell"
                  >
                    {{ team.city }}
                  </td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Члены команды</mat-card-title>
            </mat-card-header>
            <div class="members-container">
              <mat-card *ngFor="let member of team.members" class="member-card" [ngClass]="{'leader-card': member.isLeader}">
                <mat-card-header>
                  <mat-card-title
                    >{{ member.name }} {{ member.surname }}</mat-card-title
                  >
                  <mat-card-subtitle
                    ><span
                      *ngIf="member.roles != null && member.roles.length > 0"
                      >{{ member.roles[0].title }}</span
                    ></mat-card-subtitle
                  >
                </mat-card-header>
                <div class="member-avatar">
                  <img mat-card-image [src]="member.avatar" alt="Аватар" />
                </div>
                <mat-card-actions class="text-end">
                  <button mat-button>Профиль</button>
                  <!-- <button mat-button>Сообщение</button> -->
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
  <loader> </loader>
</ng-template>

<ng-template #emptyTemplate>
  <td class="mat-cell">Не указан(а)</td>
</ng-template>
