// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "~bootstrap/scss/bootstrap";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sb-warn: mat.define-palette(mat.$amber-palette);

$sb-primary: mat.define-palette(mat.$grey-palette, 500, 100, 900);
$sb-accent: mat.define-palette(mat.$lime-palette, 500, 100, 900);
$sb-theme: mat.define-dark-theme((
 color: (
   primary: $sb-primary,
   accent: $sb-accent,
   warn: $sb-warn
 )
));
@include mat.all-component-themes($sb-theme);

$sb-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $sb-primary,
      accent: $sb-accent,
      warn: $sb-warn,
    ),
  )
);

.light-theme {
  @include mat.all-component-colors($sb-light-theme);
 }
// @include mat.strong-focus-indicators-theme($strikeball-spa-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 50000s ease-in-out 0s;
  }
}

.header {
  display: flex;
  width: 100%;
  z-index: 120;
  margin: 0 auto;
}

.main {
  padding: 0 10px;
}

.footer {
  position: fixed;
  max-height: 48px;
  bottom: 0;
  display: flex;
  width: 100%;
  z-index: 120;
  margin: 0 auto;
}
