<div #rootDiv class="app-root">
  <div class="header">
    <mat-toolbar>
      AirSoft Events
      <div class="flex-stretch"></div>
      <mat-icon class="me-3">bedtime</mat-icon>
      <form [formGroup]="form" >
        <mat-slide-toggle formControlName="toggleControl" class="me-3">
        </mat-slide-toggle>
      </form>
      <mat-icon>brightness_5</mat-icon>
    </mat-toolbar>
  </div>

  <div class="container main">
    <router-outlet></router-outlet>
  </div>

  <!-- <div class="footer">
    <mat-toolbar class="footer-toolbar">
      <mat-icon>assignment</mat-icon>
    </mat-toolbar>
  </div> -->
</div>
